/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
header {
    position: sticky;
    top:0;
padding:40px;
text-align: center;
background-color: white;

    
    

}
.collage {
    width: 75%;
    margin: auto;
    display: flex;
     flex-wrap: wrap; 
    justify-content: center;
   padding: 25px;
}
/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */